*{
    margin: 0%;
    padding: 0%;
    background-color:  #f3f2f2; 
}

.textbox{
    margin-top: 210px;
    margin-left: 270px;

}
.textbox img{
    position: relative;
    margin-top: -100px;
    margin-left: -27px;
    height: 250px;
    width: 300px;
}
h1{
    font-size: 55px;
    color: #1877f2;
    font-family: sans-serif;
    font-weight: bold;
}
h2{
    font-family: Helvetica,Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}   
.logodesc{
    
    position: absolute;
    margin-top: -90px;
}
.container{
    
    
   
    margin-top: -222px;
    margin-right: 285px;
    float: right;
    border-radius: 12px;
    background-color:#f3f2f2;
    text-align: center;
    
}
    

.form{
    float: right;
    border-radius: 10px;
    background-color: white;
    margin-top: -12px;
    box-shadow: 1px 1px  5px grey;
    height: 313px;
    padding: 20px;
    width: 360px;

}
.form input{
    padding: 17px;
    width: 332px;
    border-radius: 8px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -3px;
    margin-bottom: 14px;
    border: 0.1px solid rgb(155, 149, 149,0.3);
    background-color: white;
    font-family: sans-serif;
    font-size: 17px;
    
}

#logbtn{
    margin-top: 1px;
    background-color: #1877f2;
    padding: 16px;
    width: 366px;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    border: none;
    font-weight: bold;
}
hr{
    margin-top: 20px;
    opacity: 0.4;
    
}
p{
    background-color: white;
    font-size: 16px;
    color: #1877f2;
    margin-top: 10px;
}

p a {
    color: #1877f2;
    background-color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
.forgot:hover{
    text-decoration: underline;
}

.btn{
    padding: 25px;
    background-color: white;
    margin-left: 57px;
    margin-right: 57px;
    margin-top: -8px;
}

.btn button{
    background-color: #44b14b;
    border: none;
    padding: 14px;
    width: 100%;
    font-family: sans-serif;
    color: white;
    border-radius: 7px;
    font-size: 17px;
    font-weight: bold;
    
}

input:focus{
    border: 1.5px solid #1877f2;
    outline: none;
    
    
}
.semitxt p{
    margin-top: 30px;
    background-color:#f3f2f2;
    color: black;
    font-family: sans-serif;
    font-size: 14px;

}
.semitxt a:hover{
    text-decoration: underline;
}
